<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>
  <head>
    <title>home</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../frontend/css/main.css" />
  </head>
  <body class="animsition animsition">
    <div class="home-1" id="page">
      <nav id="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
		  <li><a href="shop.html">店铺清单</a></li>
		  <li><a href="shop-detail.html">店铺详情</a><li>
		  <li><a href="wish-list.html">心愿单</a></li>
		  <li><a href="shop-cart.html">购物车</a></li>
		  <li><a href="check-out.html">查看</a></li>
        </ul>
      </nav>
      <header class="header-style-1">
        <div class="container">
          <div class="row">
            <div class="header-1-inner">
              <a class="brand-logo animsition-link" href="index.html">
                <img class="img-responsive" src="../frontend/images/logo.png" alt="" />
              </a>
              <nav>
                <ul class="menu hidden-xs">
                 <li><a href="index.html">首页</a></li>
		  <li><a href="shop.html">店铺清单</a></li>
		  <li><a href="shop-detail.html">店铺详情</a><li>
		  <li><a href="wish-list.html">心愿单</a></li>
		  <li><a href="shop-cart.html">购物车</a></li>
		  <li><a href="check-out.html">查看</a></li>
                </ul>
              </nav>
              <aside class="right">
                <div class="widget widget-control-header">
                  <div class="select-custom-wrapper">
                    <select class="no-border">
                      <option>USD</option>
                      <option>VND</option>
                      <option>EUR</option>
                      <option>JPY</option>
                    </select>
                  </div>
                </div>
                <div class="widget widget-control-header widget-search-header">
                  <a class="control btn-open-search-form js-open-search-form-header" href="#">
                    <span class="lnr lnr-magnifier"></span>
                  </a>
                  <div class="form-outer">
                    <button class="btn-close-form-search-header js-close-search-form-header">
                      <span class="lnr lnr-cross"></span>
                    </button>
                    <form action="#" th:action="@{/home/doFrontendHome}" method="post">
                      <input placeholder="Search" name="commodityName" th:value="${commodityName}"/>
                      <button class="search">
                        <span class="lnr lnr-magnifier"></span>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
                  <a class="control" href="shop-cart.html">
                    <p class="counter">0</p>
                    <span class="lnr lnr-cart"></span>
                  </a>
                </div>
                <div class="widget widget-control-header hidden-lg hidden-md hidden-sm">
                  <a class="navbar-toggle js-offcanvas-has-events" type="button" href="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </header>
      <div class="banner banner-image-fit-screen">
        <div class="rev_slider slider-home-1" id="slider_1">
          <ul>
            <li>
              <img class="rev-slidebg" src="../frontend/images/slider/1.jpg" alt="demo" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10">
            </li>
          </ul>
        </div>
      </div>
      <section class="boxed-sm">
        <div class="container">
          <div class="row">
            <div class="product-category-grid-style-1">
              <div class="row">
                <div class="col-sm-4" th:each="listCommodityType:${listCommodityType}">
                  <a href="#">
                    <figure class="product-category-item">
                      <div class="thumbnail">
                        <img th:src="${listCommodityType.typePicture}" alt="" />
                      </div>
                      <figcaption>
                        <h3>[[${listCommodityType.typeName}]]</h3>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="boxed-sm">
        <div class="container">
          <div class="heading-wrapper text-center">
            <h3 class="heading">我们的产品</h3>
          </div>
          <div class="row">
            <div class="row js-product-masonry-layout-1 product-masonry-layout-1">
              <div class="grid-sizer"></div>
              <figure class="item" th:each="listCommodity:${pages.list}">
                <div class="product product-style-2">
                  <div class="img-wrapper">
                    <a>
                      <img class="img-responsive" th:src="${listCommodity.commodityPicture}" alt="product thumbnail" />
                    </a>
                    <div class="product-control-wrapper bottom-right">
                      <div class="wrapper-control-item">
                        <a  th:onclick="javascript:myCommodityDetails([[${listCommodity.idIndex}]]);"  class="js-quick-view" type="button" data-toggle="modal" data-target="#quick-view-product">
                          <span class="lnr lnr-eye"></span>
                        </a>
                      </div>
                      <div th:onclick="javascript:saveCollection([[${listCommodity.idCommodity}]]);" class="wrapper-control-item item-wish-list">
                        <a  class="js-wish-list js-notify-add-wish-list">
                          <span class="lnr lnr-heart"></span>
                        </a>
                      </div>
                      <div  class="wrapper-control-item item-add-cart js-action-add-cart">
                        <a class="animate-icon-cart">
                          <span class="lnr lnr-cart"></span>
                        </a>
                        <svg x="0px" y="0px" width="36px" height="32px" viewbox="0 0 36 32">
                          <path stroke-dasharray="19.79 19.79" fill="none" ,="," stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                        </svg>
                      </div>
                    </div>
                    <figcaption class="desc">
                      <h3>
                        <a class="product-name" href="#">[[${listCommodity.commodityName}]]</a>
                      </h3>
                      <span class="price">$[[${listCommodity.commodityPrice}]]</span>
                    </figcaption>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      <div style="text-align: center;">
           <a th:href="@{/home/doFrontendHome}">首 页</a>
           <a th:href="@{/home/doFrontendHome(start=${pages.hasPreviousPage}?${pages.prePage}:1, commodityName=${commodityName})}">上一页</a>
           <a th:href="@{/home/doFrontendHome(start=${pages.hasNextPage}?${pages.nextPage}:${pages.pages}, commodityName=${commodityName})}">下一页</a>
           <a th:href="@{/home/doFrontendHome(start=${pages.pages}, commodityName=${commodityName})}">末 页</a>
      </div>
      </section>
      <div class="call-to-action-style-1">
        <img class="rellax bg-overlay" src="../frontend/images/call-to-action/1.jpg" alt="" />
        <div class="overlay-call-to-action"></div>
        <div class="container">
          <div class="row">
            <p class="h3">有机食品</p>
            <h2>健康 - 新鲜 - 美味.</h2>
            <a class="btn btn-brand pill" href="#">查看更多 </a>
          </div>
        </div>
      </div>
      <section class="boxed-sm">
        <div class="container">
          <div class="heading-wrapper text-center">
            <h3 class="heading">博客</h3>
          </div>
          <div class="row">
            <div class="row blog-h reverse flex one-row multi-row-sm">
              <div class="col-md-4">
                <div class="post">
                  <div class="img-wrapper js-set-bg-blog-thumb">
                    <a href="#">
                      <img src="../frontend/images/blog/01.jpg" alt="Image" />
                    </a>
                  </div>
                  <div class="desc">
                    <h4>
                      <a href="#">美容与有机产品</a>
                    </h4>
                    <p class="meta">
                      <span class="time">2017年 2 月5日</span>
                      <span class="comment">2</span>
                    </p>
                    <p>Etiam at varius diam, id blandit erat. Suspendisse eget volutpat risus, id venenatis justo. Fusce elementum ligula elit. Duis ultricies ultrices nibh, a tincidunt risus pretium eleifend. </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="post">
                  <div class="img-wrapper js-set-bg-blog-thumb">
                    <a href="#">
                      <img src="../frontend/images/blog/02.jpg" alt="Image" />
                    </a>
                  </div>
                  <div class="desc">
                    <h4>
                      <a href="#">绿色蔬菜有益健康</a>
                    </h4>
                    <p class="meta">
                      <span class="time">一月30，2017</span>
                      <span class="comment">0</span>
                    </p>
                    <p>Vivamus consectetur nulla mattis lorem ultricies, ac congue tellus consectetur. Vivamus sed purus volutpat, varius mauris id, tempus augue. Nuefd ans congue liquam.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="post">
                  <div class="img-wrapper js-set-bg-blog-thumb">
                    <a href="#">
                      <img src="../frontend/images/blog/03.jpg" alt="Image" />
                    </a>
                  </div>
                  <div class="desc">
                    <h4>
                      <a href="#">刷新绿色冰沙食谱</a>
                    </h4>
                    <p class="meta">
                      <span class="time">一月20，2017</span>
                      <span class="comment">4</span>
                    </p>
                    <p>Praesent efficitur felis eu luctus vestibulum. In hac habitasse platea dictumst. Nam egestas eu nisl ac pellentesque. Duis congue suscipit lorem vel congue. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="call-to-action-style-2">
      <div class="wrapper-carousel-background">
        <img src="../frontend/images/call-to-action/1-1.jpg" alt="" />
        <img src="../frontend/images/call-to-action/1-2.jpg" alt="" />
        <img src="../frontend/images/call-to-action/1-3.jpg" alt="" />
        <img src="../frontend/images/call-to-action/1-4.jpg" alt="" />
      </div>
      <div class="overlay-call-to-action"></div>
      <a class="btn btn-brand pill icon-left" href="#">
        <i class="fa fa-instagram"></i>跟随我们</a>
    </div>
    <footer class="footer-style-1">
      <div class="container">
        <div class="row">
          <div class="footer-style-1-inner">
            <div class="widget-footer widget-text col-first col-small">
              <a href="#">
                <img class="logo-footer" src="../frontend/images/logo.png" alt="Logo Organic" />
              </a>
              <div class="widget-link">
                <ul>
                  <li>
                    <span class="lnr lnr-map-marker icon"></span>
                    <span>379 5th Ave New York, NYC 10018</span>
                  </li>
                  <li>
                    <span class="lnr lnr-phone-handset icon"></span>
                    <a href="tel:0123456789">(+1) 96 716 6879</a>
                  </li>
                  <li>
                    <span class="lnr lnr-envelope icon"></span>
                    <a href="mailto: contact@site.com">contact@site.com </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-footer widget-link col-second col-medium">
              <div class="list-link">
                <h4 class="h4 heading">店</h4>
                <ul>
                  <li>
                    <a href="#">餐饮</a>
                  </li>
                  <li>
                    <a href="#">农场</a>
                  </li>
                  <li>
                    <a href="#">健康</a>
                  </li>
                  <li>
                    <a href="#">有机</a>
                  </li>
                </ul>
              </div>
              <div class="list-link">
                <h4 class="h4 heading">支持</h4>
                <ul>
                  <li>
                    <a href="#">联系我们</a>
                  </li>
                  <li>
                    <a href="#">常见问题</a>
                  </li>
                  <li>
                    <a href="#">隐私政策</a>
                  </li>
                  <li>
                    <a href="#">博客</a>
                  </li>
                </ul>
              </div>
              <div class="list-link">
                <h4 class="h4 heading">我的账户</h4>
                <ul>
                  <li>
                    <a href="#">登入</a>
                  </li>
                  <li>
                    <a href="#">我的购物车</a>
                  </li>
                  <li>
                    <a href="#">我的收藏</a>
                  </li>
                  <li>
                    <a href="#">查看</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-footer widget-newsletter-footer col-last col-small">
              <h4 class="h4 heading">通讯</h4>
              <p>立即订阅以获取每日更新</p>
              <form class="organic-form form-inline btn-add-on circle border">
                <div class="form-group">
                  <input class="form-control pill transparent" placeholder="Your Email..." type="email" />
                  <button class="btn btn-brand circle" type="submit">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right style-1">
        <div class="container">
          <div class="row">
            <div class="copy-right-inner">
              <p>版权所有©2019由tangdengqiao设计.版权所有.</p>
              <div class="widget widget-footer widget-footer-creadit-card">
                <ul class="list-unstyle">
                  <li>
                    <a href="#">
                      <img src="../frontend/images/icons/creadit-card-01.png" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../frontend/images/icons/creadit-card-02.png" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../frontend/images/icons/creadit-card-03.png" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../frontend/images/icons/creadit-card-04.png" alt="creadit card" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="quick-view-product" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg modal-quickview woocommerce" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="woocommerce-product-gallery">
                  <div class="main-carousel-product-quick-view">
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                  </div>
                  <div class="thumbnail-carousel-product-quickview">
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                    <div class="item item01">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="summary">
                  <div class="desc">
                    <div id="header-desc" class="header-desc">
          
                    </div>
                    <div class="body-desc">
                      <div id="woocommerce-product-details-short-description" class="woocommerce-product-details-short-description">
                        
                      </div>
                    </div>
                    <div class="footer-desc">
                      <form class="cart">
                        <div class="quantity buttons-added">
                          <input id="min" class="minus" value="-" type="button"/>
                          <input id="number" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number" />
                          <input id="add" class="plus" value="+" type="button"/>
                        </div>
                        <div class="group-btn-control-wrapper">
                          <button class="btn btn-brand no-radius">添加到购物车</button>
                          <button class="btn btn-wishlist btn-brand-ghost no-radius">
                            <i class="fa fa-heart"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="product-meta">
                    <p id="posted-in" class="posted-in">
                    </p>
                    <p id="id" class="id">
                     
                    </p>
                  </div>
                  <div class="widget-social align-left">
                    <ul>
                      <li>
                        <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/authemes">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/authemes">
                          <i class="fa fa-pinterest"></i>
                        </a>
                      </li>
                      <li>
                        <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/authemes">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/authemes">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/authemes">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../frontend/js/library/jquery.min.js"></script>
    <script src="../frontend/js/library/bootstrap.min.js"></script>
    <script src="../frontend/js/function-check-viewport.js"></script>
    <script src="../frontend/js/library/slick.min.js"></script>
    <script src="../frontend/js/library/select2.full.min.js"></script>
    <script src="../frontend/js/library/imagesloaded.pkgd.min.js"></script>
    <script src="../frontend/js/library/jquery.mmenu.all.min.js"></script>
    <script src="../frontend/js/library/rellax.min.js"></script>
    <script src="../frontend/js/library/isotope.pkgd.min.js"></script>
    <script src="../frontend/js/library/bootstrap-notify.min.js"></script>
    <script src="../frontend/js/library/bootstrap-slider.js"></script>
    <script src="../frontend/js/library/in-view.min.js"></script>
    <script src="../frontend/js/library/countUp.js"></script>
    <script src="../frontend/js/library/animsition.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../frontend/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="../frontend/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="../frontend/revolution/css/navigation.css" />
    <script src="../frontend/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../frontend/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../frontend/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="../frontend/js/global.js"></script>
    <script src="../frontend/js/config-banner-home-1.js">


    </script>
    <script src="../frontend/js/config-mm-menu.js"></script>
    <script src="../frontend/js/config-set-bg-blog-thumb.js"></script>
    <script src="../frontend/js/config-isotope-product-home-1.js">


    </script>
    <script src="../frontend/js/config-carousel-thumbnail.js"></script>
    <script src="../frontend/js/config-carousel-product-quickview.js"></script>
    <!-- Demo Only-->
    <script type="text/javascript" th:inline="javascript">
    function myCommodityDetails(idIndex){
    	$.ajax({
			url : [[@{/home/selectCommodity}]],
			dataType : 'json',
			type : 'POST',
			data : {idIndex:idIndex},
			cache : false,
			success : function(list) {
		        for (var i = 0; i < list.length; i++) {
		        		
		        	
				/* 商品名和价格 */
				var headerdesc='<h2 class="product-title">'+list[0].commodityName+'</h2><p class="price">'+list[0].commodityPrice+'￥</p>';
				$("#header-desc").html(headerdesc);
				
				/* 描述 */
				var woocommerceproductdetailsshortdescription='<p>'+list[0].commodityDescribe+'.</p>';
				$("#woocommerce-product-details-short-description").html(woocommerceproductdetailsshortdescription);
				
				/* 图片 */
				var item01='<img class="img-responsive" src="'+list[0].commodityPicture+'" alt="product thumbnail" />';
				$(".item01").html(item01); 
				
				/* 分类 */
				var typeName;
				for(var j = 0; j < list[1].length; j++){
					if(list[0].commodityType==list[1][j].idType){
						typeName=list[1][j].typeName;
					}
				}	
				var postedin='分类:<a rel="tag">'+typeName+'</a>';
				$("#posted-in").html(postedin);
				
				/* 编号 */
				var id='编号:<a>'+list[0].idIndex+'</a>';
				$("#id").html(id); 
		        }
				
				
			},
			error : function(data) {
				console.log(data);
			}
		});
    }
    
    
    function saveCollection(idCommodity){
    	$.ajax({
			url : [[@{/home/saveCollection}]],
			dataType : 'json',
			type : 'POST',
			data : {idCommodity:idCommodity},
			cache : false,
			success : function(data) {
				if (data.status == 200) {
					alert(data.message);
				} else {
					alert(data.message);
				}
			},
			error : function(data) {
				console.log(data);
			}
		});
    }
    
	//数量增加操作
     $("#add").click(function(){
    	$('#number').val(parseInt($('#number').val())+1);
     })
    
  	//数量减少操作
     $("#min").click(function(){
    	$('#number').val(parseInt($('#number').val())-1)
        if(parseInt($("#number").val())==0){
        	$('#number').val(parseInt($('#number').val())+1);
        }
     })
    </script> -->
  </body>
</html>
